@using EntityLayer.Concrete
@model List<Message2>
@{
    ViewData["Title"] = "InBox";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<div class="col-md-12 stretch-card grid-margin">
    <div class="card">
        <div class="card-body">
            <p class="card-title">Gelen Kutusu</p>
            <ul class="icon-data-list">
                @foreach (var item in Model)
                {
                    <li>
                        <div class="d-flex">
                            <img src="@item.SenderUser.WriterImage" alt="user">
                            <div>
                                <p class="text-info mb-1">@item.SenderUser.WriterName</p>
                                <h6 class="mb-0">@item.Subject</h6>
                                <p class="mb-0">@item.MessageDetails</p>
                                <small>@item.MessageDate.ToShortDateString() - @item.MessageDate.ToShortTimeString()</small>
                            </div>
                        </div>
                    </li>
                }

            </ul>
        </div>
        
    </div>
</div>
<br />
<a href="/Message/SendMessage/" class="btn btn-success m-2">Yeni Mesaj Oluştur</a>

