@model IEnumerable<EntityLayer.Concrete.Blog>
@{
    ViewData["Title"] = "BlogDetails";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

@foreach (var item in Model)
{


    <div class="site-cover site-cover-sm same-height overlay single-page" style="background-image: url('@item.BlogImage');">
        <div class="container">
            <div class="row same-height justify-content-center">
                <div class="col-md-12 col-lg-10">
                    <div class="post-entry text-center">
                        <span class="post-category text-white bg-success mb-3">@item.Category.CategoryName</span>
                        <h1 class="mb-4"><a href="#">@item.BlogTitle</a></h1>
                        <div class="post-meta align-items-center text-center">
                            <figure class="author-figure mb-0 mr-3 d-inline-block"><img src="@item.Writer.WriterImage" alt="Image" class="img-fluid"></figure>
                            <span class="d-inline-block mt-1">@item.Writer.WriterName</span>
                            <span>&nbsp;-&nbsp; @(((DateTime)item.BlogCreateDate).ToString("MMMM dd, yyyy"))</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="site-section py-lg">
        <div class="container">

            <div class="row blog-entries element-animate">

                <div class="col-md-12 col-lg-8 main-content">

                    <div class="post-content-body">
                        @item.BlogContent
                        
                        
                    </div>



                    <div class="pt-5">

                        @await Component.InvokeAsync("CommentListByBlog",new { id=ViewBag.i}) 

                        @*@await Html.PartialAsync("~/Views/Comment/PartialCommentListByBlog.cshtml")*@
                        @await Html.PartialAsync("~/Views/Comment/PartialAddComment.cshtml")
                    </div>
                    


                </div>

                <!-- END main-content -->

                <div class="col-md-12 col-lg-4 sidebar">
                    <div class="sidebar-box search-form-wrap">
                        <form action="#" class="search-form">
                            <div class="form-group">
                                <span class="icon fa fa-search"></span>
                                <input type="text" class="form-control" id="s" placeholder="Type a keyword and hit enter">
                            </div>
                        </form>
                    </div>
                    <!-- END sidebar-box -->
                    <div class="sidebar-box">
                        <div class="bio text-center">
                            <img src="@item.Writer.WriterImage" alt="Image Placeholder" class="img-fluid mb-5">
                            <div class="bio-body">
                                <h2>@item.Writer.WriterName</h2>
                                <p class="mb-4">@item.Writer.WriterAbout</p>
                                <p class="social">
                                    <a href="~/VitrinTema/#" class="p-2"><span class="fa fa-facebook"></span></a>
                                    <a href="~/VitrinTema/#" class="p-2"><span class="fa fa-twitter"></span></a>
                                    <a href="~/VitrinTema/#" class="p-2"><span class="fa fa-instagram"></span></a>
                                    <a href="~/VitrinTema/#" class="p-2"><span class="fa fa-youtube-play"></span></a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- END sidebar-box -->
                    @await Component.InvokeAsync("WriterLastBlog")

                    <!-- END sidebar-box -->

                    @await Component.InvokeAsync("CategoryList")
                    <!-- END sidebar-box -->

                    
                </div>

                <!-- END sidebar -->

            </div>
        </div>
    </section>



    <div class="site-section bg-light">
        
        @await Html.PartialAsync("~/Views/NewsLetter/SubscribeMail.cshtml")

    </div>

}

